<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles/footer.css">
    <link rel="stylesheet" href="/public/styles/formClientes.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        {{{body}}}
    </main>
    <div class="containerFooter">
        <!-- height: 10rem -->
        <footer class="footerPrincipal">
          <ul class="listaLink">
            <li class="footerInicio"><a class="linkInicio" href="/">Início</a></li>
            <li class="footerServicos"><a class="linkServicos" href="../pages/servicos.html">Clientes</a></li>
            <li class="footerFAQs"><a class="linkFAQs" href="../pages/FAQs.html">FAQs</a></li>
            <li class="footerSobre"><a class="linkSobre" href="#sobre">Sobre</a></li>
          </ul>
          <div class="containerEmpresa">
            <hr class="divisaoFooter">
              <p class="copyright">&copy; 2023 CRUD Project, Inc.</p>
              <ul class="luSocial">
                <!-- redes sociais -->
                <li class="liTwitter"><a class="linkTwitter" target="_blank" href="https://twitter.com/"><img class="imgTwitter" src="twitter.png" alt="Twitter"></a></li>
                <li class="liInstagram"><a class="linkInstagram" target="_blank" href="https://www.instagram.com/"><img class="imgInstagram" src="instagram.png" alt="Instagram"></a></li>
                <li class="liFacebook"><a class="linkFacebook" target="_blank" href="https://www.facebook.com/"><img class="imgFacebook" src="facebook.png" alt="Facebook"></a></li>
              </ul>
          </div>
        </footer>
      </div>
</body>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.js"></script>

</html>