<h1>Clientes</h1>
<hr>
<table class="table">
    <thead> {{!-- Títulos da tabela --}}
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Sexo</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody> {{!-- Conteúdo da tabela --}}
        <tr>
            <td>01</td>
            <td>Zézinho da Silva</td>
            <td>Rua Fulano 043</td>
            <td>Masculino</td>
            <td>99564-3436</td>
        </tr>
    </tbody>
</table>